html{
  font-family: arial;
}

caption {
  background-color: teal;
  font-size: 16pt;
  padding: 2%;
  font-weight: bold;
}

table
{
  border: solid teal 1px;;
}

td
{
  border: solid darkgrey 1px;
}

th
{
  background-color: lightgrey;
  border: solid darkgrey 1px;
  font-weight: bold;
}

td, th
{
  padding: 1%;
}

tfoot td
{
  background-color: lightgrey;
  border: darkgrey solid 1px;
}
