/*BASIC HTML styling*/

html
{
  font-family: arial;
}

/*BASIC HTML styling*/


/*Image Formatting*/

img
{
  height: 150px;
  width: 100px;
}

/*Image Formatting*/


/*MAIN TABLE formating*/
table
{
  border: solid 1px maroon;

}


th
{
    background-color: lightgrey;
    border: solid darkgrey 1px;
}

td
{
    border: solid darkgrey 1px;
    vertical-align: middle;
}

caption
{
  background-color:maroon;
  font-size: 20pt;
  font-weight: bold;
  color: white;
  padding: 5%;

}

/*MAIN TABLE formating*/


/*MINITABLE formatting */

.minitable {
  padding: 0px;
  margin: 0px;
  border: solid darkgrey 1px;
}
/*MINITABLE formatting */
